* {
  box-sizing: border-box;
}
body {
  padding-top: 110px;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}
.header_product {
  background-color: #333;
}
.product__nav {
  margin: 100px 0 50px;
  padding: 0 15px;
}
.product__list-item {
  margin-right: 10px;
  display: flex;
  position: relative;
  justify-content: space-between;
  border-bottom: 1px solid rgba(214, 214, 214, 1);
}

.product__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.product__link {
  color: rgb(20, 19, 19);
  font-family: "Gilroy";
  font-size: 16px;
  outline: 0 !important;
  text-decoration: none;
  padding-bottom: 10px;
  display: flex;
  width: 160px;
}
.product__link:hover,
.product__link:active,
.product__link:focus {
  color: rgb(233, 217, 71);
}
.product__link .product__icon {
  margin-left: auto;
  z-index: -1;
}
.product__list-sub {
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 27px;
  left: 0px;
  transition: 0.6s;
  padding-top: 15px;
  z-index: 1;
}
.product__link_sub {
  font-size: 14px;
  padding-left: 10px;
  background-color: white;
}

.product__list-item:hover .product__list-sub {
  min-height: 70px;
  height: auto;
  opacity: 1;
  background-color: white;
}
.product__list-item:hover .product__link-sub {
}

.product__card {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  margin-bottom: 75px;
}
.product__link-card {
  text-decoration: none;
  text-align: center;
  color: #333;
}
.product__link-card:hover {
  color: rgb(233, 217, 71);
}
.catalog-title__mini {
  font-size: 16px;
  line-height: 150%;
  margin: 25px 0 10px;
}
.catalog-title__general {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 15px;
}
.product__price {
  background-color: #333333;
  align-items: center;
  color: white;

  margin: 0 60px;
  padding: 10px 0;
}
.product__catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product__btn {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}
.product__btn-more {
  padding: 10px 20px;
  background-color: #333333;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-decoration: none;
  margin-right: 25px;
  transition: 0.6s;
}
.product__btn-more:hover {
  color: rgb(233, 217, 71);
}
.product__info-block {
  display: flex;
  justify-content: center;
}
.hidden {
  display: none;
}
.product__info {
  display: flex;
  flex-direction: column;
  max-width: 540px;
  margin-right: 100px;
  justify-content: center;
}
.product__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 140%;
  margin-bottom: 30px;
}
.product__text,
.product__text_gradient {
  font-size: 16px;
  line-height: 150%;
  position: relative;
  margin-bottom: 20px;
}

.product__text::after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  content: "";
  top: 0;
  background: linear-gradient(to bottom, transparent, #fff);
}

.product__btn-max {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: #333333;
  padding: 10px 20px;
  transition: 0.4s;
  border-bottom: 1px dotted black;
}
.product__btn-max:hover {
  color: rgb(233, 217, 71);
  border: 0;
}
.product__icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 369px;
}
.product__icon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px 60px 0;
}

.icon-decs {
  margin-top: 15px;
  max-width: 100px;
  text-align: center;
}
/*MEDIA*/
@media all and (max-width: 1200px) {
  .product__list {
    justify-content: center;
  }
  .product__list-item {
    margin-bottom: 30px;
    margin-right: 30px;
  }
  .product__catalog {
    justify-content: center;
  }
  .product__info {
    display: flex;
    flex-direction: column;
    max-width: 540px;
    margin-right: 80px;
    margin-left: 20px;
    justify-content: center;
  }
}
@media (min-width: 500px) and (max-width: 800px) {
  .wrapper {
    width: 100%;
  }

  .product__info {
    max-width: 540px;
    margin: 0 20px;
    justify-content: center;
  }
  .product__info-block {
    flex-direction: column;
    align-items: center;
  }
  .product__icons {
    flex-direction: row;
    max-width: inherit;
    margin-top: 50px;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  .product {
    margin-bottom: 40px;
  }
  .product__card {
    margin-right: 0px;
    margin-bottom: 35px;
  }
  .product__nav {
    margin: 30px 0 30px;
  }
  .product__list {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }

  .product__btn-more {
    margin-right: 0px;
  }
  .product__btn {
    margin-bottom: 40px;
  }
  .product__catalog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .product__info-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 25px;
  }
  .product__info {
    margin-right: 0;
  }
  .product__icons {
    justify-content: center;
    margin-top: 50px;
  }
  .product__title,
  .product__text,
  .product__btn-text {
    text-align: center;
    margin-bottom: 10px;
  }
}
